.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.4;
}

/* Remove canvas styling to let WebGL renderer handle sizing */
.aurora-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

